body {
    background-color: black;
    color: white;
}

etiqueta {
  border: solid green 2px;
}

#unico {
  background-color: darkblue;
  color: gold;
}

.ejemploclase {
  border: solid red 2px;
}

.otroejemploclase {
  background-color: blueviolet;
}

.ejemploclase.otroejemploclase {
  border: dotted purple 2px;
  background-color: white;
  color: black;
}

* {
  background-color: black;
  color: white;
}

.colorhexadecimal {
  color: #f00;
}

.colorrgb {
  color: rgb(0, 255, 0);
}

.colorhsl {
  color: hsl(241, 100%, 58%);
}

.borde1 {
  border: 2px red solid;
}

.borde2 {
  border: 2px green dashed;
}

.borde3 {
  border: 2px blue dotted;
}

.borde4 {
  border: 2px yellow double;
}

.borde5 {
  border: 2px orangered groove;
}