body {
    background-color: black;
    color: white;
}

etiqueta {
  border: solid green 2px;
}

#unico {
  background-color: darkblue;
  color: gold;
}

.ejemploclase {
  border: solid red 2px;
}

.otroejemploclase {
  background-color: blueviolet;
}

.ejemploclase.otroejemploclase {
  border: dotted purple 2px;
  background-color: white;
  color: black;
}

/* * {
  background-color: black;
  color: white;
} */

.colorhexadecimal {
  color: #f00;
}

.colorrgb {
  color: rgb(0, 255, 0);
}

.colorhsl {
  color: hsl(241, 100%, 58%);
}

.borde1 {
  border: 2px red solid;
}

.borde2 {
  border: 2px green dashed;
}

.borde3 {
  border: 2px blue dotted;
}

.borde4 {
  border: 2px yellow double;
}

.borde5 {
  border: 2px orangered groove;
}

.fondo {
  height: 200px;
  background: red url(./img/pikachu.png) repeat-y center bottom / 100px 100px;
}

.cajamodelo {
  background-color: chocolate;
  outline: blue solid 5px;
  margin: 50px;
  padding: 15px;
  height: 100px;
  width: 100px;
}

.texto {
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 900;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*En este caso el orden es importante por la cascada*/
a:link {
  color: green;
}

a:visited {
  color: yellow;
}

a:hover {
  color: orange;
}

a:active {
  color: red;
}

.listas {
  list-style-type: georgian;
  width: 50px;
  list-style-position: inside;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #f00;
}

th, td {
  border: solid 2px #eee;
  padding: 5px;
}

th {
  background-color: orangered;
  color: white;
  text-align: left;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

tr:hover {
  background-color: aqua;
}